.fondo {
    background-color: black;
    height: 400;
    width: 400;
    transition: 1s;
}

img:hover {
    opacity: 50%;
    transition: 2s;

}

.texto {
    opacity: 0;
    transition: 2s;
    position: absolute;
    top: 50px;
    text-align: center;
}

div:hover .texto {
    opacity: 1;
    transition: 1s;


}