.imagen {
    background-image: url(./Fotos/panteon.jpg);
    width: 722px;
    height: 480px;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;


}

.columna {
    width: 50;
    height: 170;
    padding-right: 20;
    margin-top: 110;
    overflow: auto;

}